body{
    background-color: #d5e1ef;
}

.container-principal{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 80px;
}


.box-qr{
    background-color: white;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px;
    /* margin-top: 10%; */
}

img{
    width: 288px;
    padding-top: 10px;
    border-radius: 17px;
}

.tittle{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-left: 11px;
    padding-right: 11px;
}

.body-text{
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    color: #ced2db;

}